<div class="home">
    <app-navbar class="navbar"></app-navbar>
    <div class="content-view">
        <div class="background-image"></div>
        <div class="text-container">
            <div class="title">
                <h1>Hi, I'm Ian Hanken!</h1>
            </div>
            <div class="detail">
                <div class="detail-static">
                    <h3>I make</h3>
                </div>
                <div class="detail-dynamic" [@currentTechnologyState]="currentTechnology">
                    <h3> {{ currentTechnology }}.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="github-view"></div>
</div>